.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  margin-top: -10px;
  margin-bottom: -10px;
  opacity: 0.9;
}

.Logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

.NavLink {
  font-weight: 500;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 0.75px;
  padding: 5px;
}

.NavLink:hover {
  text-decoration: underline;
}

.Active i {
  color: #CC5500;
}

/* @media screen and (max-width: 430px) {
  .NavBar {
    margin-top: 0px;
  }
} */
