.PropertyContainer {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
}

.ListContainer {
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 16px;
}

.Icons {
  margin: 0 15px 0 15px;
}

.Icons i {
  font-size: 28.5px;
  margin-right: 3px;
}

.Icons p {
  letter-spacing: 1px;
}

.Save i {
  color: #f99417;
}

.Save:hover {
  color: #f2cd5c;
}

.SaveOutline:hover {
  color: #f99417;
}

.ViewMore {
  color: #f99417;
  font-size: 22.5px;
}

.ViewMore:hover {
  text-decoration: underline;
}

.Sold {
  top: 20px;
  left: 20px;
  background-color: #f99417;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
  border-radius: 50px;
  height: min-content;
  width: max-content;
}

.Sold p {
  margin-bottom: 0px;
}

@media screen and (max-width: 430px) {
  .PropertyNameMobile {
    font-size: 25px;
  }

  .ListMobileSpacing {
    padding-left: 10px;
    font-size: 13px;
  }

  .Icons p {
    letter-spacing: 1px;
    font-size: 15px;
  }

  .ViewMore {
    color: #f99417;
    font-size: 17.5px;
  }

  .Sold {
    font-size: 15px;
    letter-spacing: 1px;
  }
}
