.PropertyContainer {
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 16px;
}

/* .ColContainer {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #dadadf;
  min-width: 350px;
} */

.Icons {
  margin: 0 5rem 0 5rem;
}

.Icons i {
  font-size: 28.5px;
  margin-right: 3px;
}

.Icons p {
  letter-spacing: 1px;
}

.Save i {
  color: #f99417;
}

.Save:hover {
  color: #f2cd5c;
}

.SaveOutline:hover {
  color: #f99417;
}

.ViewMore {
  color: #f99417;
  font-size: 22.5px;
}

.ViewMore:hover {
  text-decoration: underline;
}