.FormContainer {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #dadadf;
  min-width: 350px;
  /* padding: 15px 15px; */
  margin-top: -8px;
  margin-left: 6px;
}

.FormContainer i {
  color: white;
  font-size: 1.2rem;
  margin-right: 3px;
}

.ColContainer {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #dadadf;
  min-width: 350px;
}

.PopularProfileContainer {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #dadadf;
  min-width: 350px;
  padding: 15px 15px;
}

.PopularProfilesDiv {
  margin-left: 6px;
}

.SearchFilterTitle {
  color: #f99417;
  font-weight: 600;
  letter-spacing: 1px;
}

.SearchFilterTitle:hover {
  color: #f2cd5c;
  cursor: pointer;
}

.SearchFilterTitle button:focus {
  box-shadow: none;
}