.FormContainer {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #dadadf;
  min-width: 350px;
  padding: 15px 15px;
  margin-top: -8px;
  margin-left: 6px;
}

.FormContainer i {
  color: white;
  font-size: 1.2rem;
  margin-right: 3px;
}

.ColContainer {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #dadadf;
  min-width: 350px;
}
