.Row {
  padding-top: 5rem;
}

.Input {
  background: #ffffff;
  border: 2px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 3px;
  color: #7177a1;
  padding: 20px;
}

.Header {
  font-weight: bold;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fc7300;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: #ff9254;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}
