.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  margin-top: -10px;
  margin-bottom: -10px;
  opacity: 0.9;
}

.Logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

.NavLink {
  font-weight: 500;
  text-decoration: none;
  font-size: 1.05rem;
  letter-spacing: 0.25px;
  padding: 4px;
}

.NavLink:hover {
  text-decoration: underline;
}

.Active i {
  color: #CC5500;
}

@media screen and (max-width: 1030px) {
  .NavLink {
    font-size: 0.8rem;
  }

  .NavLink i {
    font-size: 20px;
  }
}

@media screen and (max-width: 430px) {
  .NavLink {
    font-size: 1.1rem;
  }

  .NavBar {
    margin: 0px;
  }

  .NavBar img {
    height: 55px;
  }
}

@media screen and (max-width: 330px) {
  .NavBar img {
    height: 40px;
  }
}