.App {
  font-family: "Lora", sans-serif;
  background-color: #fff5ee;
  min-height: 100vh;
  padding-top: 95px;
  padding-bottom: 55px;
}

* {
  box-sizing: border-box;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  color: #000;
  opacity: 0.7;
}

a:hover i {
  color: #f99417;
  transition: color ease-in-out 0.3s;
}

i {
  color: #f99417;
  font-size: 1.8rem;
  padding: 2px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
}

.Image {
  max-height: 45vh;
  max-width: 100%;
  object-fit: contain;
  white-space: normal;
}

/* Button design */

.Button {
  font-size: 1.1rem;
  align-self: center;
  border-radius: 10px;
  border-color: transparent;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  padding: 5px 20px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
  transform: scale(1.05);
  transition: 100ms;
  letter-spacing: 1px;
}

.Button:hover:active {
  background-color: #f2cd5c !important;
}

.Button:active {
  background-color: #fc7300 !important;
}

.Button:focus {
  background-color: #fc7300 !important;
  box-shadow: none;
}

.Wide {
  padding: 10px 20px;
  width: 100%;
}

.Orange,
.OrangeOutline:hover,
.Bright:hover {
  background-color: #f2cd5c;
  color: #ffffff;
}

.OrangeOutline,
.Orange:hover {
  background-color: #ffffff;
  color: #f2cd5c;
}

.Bright {
  background-color: #fc7300;
  color: #ffffff;
}

@media screen and (max-width: 430px) {
  .App {
    padding-top: 80px;
  }
}

@media screen and (max-width: 330px) {
  .App {
    padding-top: 60px;
  }
}